//@import "partials/fonts";
html { font-size: 10px; }
.wp-block {
	@import "../vendor/bootstrap-admin";
	@import "partials/type";
	@import "partials/colors";
	@import "partials/buttons";
	@import "partials/icons";
	@import "partials/lists";
	/*Gutenberg Block Styles*/
	@import "blocks/blocks";

	
	max-width: 1200px;
	font-size: 1.5rem;
	font-family: $font-family-serif;
}